<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="EnvironmentVariables.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="EnvironmentVariables.commands.category"
            id="EnvironmentVariables.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="EnvironmentVariables.commands.sampleCommand"
            class="environmentvariables.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="EnvironmentVariables.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="EnvironmentVariables.menus.sampleMenu">
            <command
                  commandId="EnvironmentVariables.commands.sampleCommand"
                  mnemonic="S"
                  id="EnvironmentVariables.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="EnvironmentVariables.toolbars.sampleToolbar">
            <command
                  commandId="EnvironmentVariables.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="EnvironmentVariables.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
      <widget
            class="org.eccosolutions.eclipse.envswitcher.Widget"
            id="EnvironmentVariables.widget1">
      </widget>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Environment Variables Preferences"
            class="org.eccosolutions.eclipse.envswitcher.preferences.EnvVarsPreferencePage"
            id="org.eccosolutions.eclipse.envswitcher.preferences.EnvVarsPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eccosolutions.eclipse.envswitcher.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Command line env vars to add"
            name="env-vars"
            readOnly="false">
      </variable>
   </extension>

</plugin>
